/* @import url('https://fonts.cdnfonts.com/css/gilroy'); */

@font-face {
    font-family: "Gilroy-Bold";
    font-weight: 700;
    src: local("Gilroy-bold"), url("/fonts/gilroy.ttf") format("ttf");
}

@font-face {
    font-family: "Gilroy-SemiBold";
    font-weight: 600;
    src: local("Gilroy-Bold"), url("/fonts/gilroy.ttf") format("ttf");
}

@font-face {
    font-family: "Gilroy-Medium";
    font-weight: 500;
    src: local("Gilroy-Medium"), url("/fonts/gilroy.ttf") format("ttf");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #AAAAAA;
}

body {
    scroll-behavior: smooth;
    background: #FFFFFF;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 1170px;
    height: 40;
    margin: 0 auto;
}

.header {
    padding: 40px 0;
    margin-bottom: 84px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}

.nav-link-home {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16.41px;
    text-align: left;
    color: #ff7b00;
}

.nav-link-features {
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 16.41px;
    text-align: left;
    color: #000000;
}

.nav-link {
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 16.41px;
    text-align: left;
    color: #000000;
}

.logo {
    margin-right: 500px;
}

.main {
    margin-bottom: 162px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    max-width: 522px;
}

.main-title {
    margin-bottom: 17px;
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 70.31px;
    text-align: left;
}

.content-text {
    margin-bottom: 37px;
    width: 466px;
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 23.44px;
    text-align: left;
    color: #888888;
}

.content-btn-box {
    display: flex;
    gap: 72px;
    align-items: center;
}

.content-btn {
    font-family: 'Gilroy-bold';
    font-size: 15px;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background: #F25822;
    color: #FFFFFF;
}

.content-btn-watch {
    font-family: 'Gilroy-bold';
    font-size: 15px;
    text-decoration: none;
    color: #AAAAAA;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background: none;
}

.content-link {
    font-family: 'Gilroy-bold';
    font-size: 15px;
    width: 90px;
    height: 19px;
    text-decoration: none;
    color: #AAAAAA;
}

.content-img {
    width: 610.73px;
    height: 372.9px;
}

.footer {
    height: 243px;
}

.logos {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}